@import '../../app.scss';

.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

    &.scrolled {
        background-color: var(--main-color);
    }

    .container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left {
            display: flex;
            align-items: center;

            img {
                height: 25px;
                margin-right: 40px;

                @include mobile {
                    display: none;
                }
            }

            span {
                margin-right: 20px;
                cursor: pointer;

                @include tablet {
                    display: none;
                }

                &.navbarMaiLinks {
                    @include tablet {
                        display: block;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .icon {
                margin: 0px 15px;
                cursor: pointer;
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }

            .searchBox {
                display: flex;
                align-items: center;
                margin-right: 10px;
                border: none;
                background-color: none;
                padding: none;


                input {

                    color: white;
                    border: none;
                    padding: 5px;
                    background-color: var(--main-color);
                    width: 0;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;

                }
                .suggestionList{
                    position: absolute;
                    top:70px;

                    .suggestionList_item{
                        list-style: none;
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                    }
                }
                &.showSearch {
                    border: 1px solid white;
                    background-color: var(--main-color);
                    padding: 5px;

                    input {
                        display: block;
                        background-color: var(--main-color);
                        width: 200px;
                        opacity: 1;


                    }

                    @media(max-width:700px) {
                        input {
                            display: block;
                            background-color: var(--main-color);
                            width: 70px;
                            opacity: 1;
                        }
                    }

                    input:focus {
                        outline: none;
                    }
                }
            }

            .profile {
                .options {
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                }

                span {
                    padding: 10px;
                    cursor: pointer;
                }

                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                }
            }
        }
    }
}